
         
        <!-- Bottom menu -->
        <div class="bot-menu local-scroll">
            
            <!-- See Map -->
            <!-- <a routerLink="/home"class="bot-menu-item animate-init" data-anim-type="fade-in-right" data-anim-delay="0" id="see-map">
                <span class="bot-menu-icon">
                    <i class="fa fa-map-marker"></i>
                </span>
                See Map
            </a> -->
            <!-- End See Map -->
            
            <!-- Scroll Up -->
            <a (click)="scrollUp()" class="bot-menu-item animate-init" data-anim-type="fade-in-left" data-anim-delay="0">
                <span class="bot-menu-icon">
                    <i class="fa fa-arrow-circle-o-up"></i>
                </span>
                Scroll Up
            </a>
            <!-- End Scroll Up -->
            
        </div>
        <!-- End Bottom menu -->
        
        <!-- Google Map -->
        <div class="google-map">
            <div id="map-canvas">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24572.368311964965!2d-75.602613!3d39.65993!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c703f3d191cf13%3A0xf4674106f987fe3a!2zMjQ1IFF1aWdsZXkgQmx2ZCBTdGUgSywgTmV3IENhc3RsZSwgREUgMTk3MjAsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1536578653122" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- End Google Map -->
        
        
        <!-- Foter -->
        <footer class="small-section bg-dark footer">
            <div class="container animate-init" data-anim-type="bounce-in-up" data-anim-delay="0">
                
                <!-- Footer Text -->
                <div class="footer-text">
                    
                    <!-- Copyright -->
                    <div class="footer-copy">
                        <a href="/" >&copy; guardsec.co <span class="number">2024</span></a>.
                    </div>
                    <!-- End Copyright -->
                    
                
                    
                </div>
                <!-- End Footer Text -->
                
                <!-- Social Links -->
                <div class="footer-social-links">
                    <div class="social-links tooltip-bot">
                        <span > &nbsp; </span>
                        <a href="https://www.linkedin.com/company/guardsec" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!-- End Social Links -->                    
             
             </div>
        </footer>