<body class="appear-animate">
    <!-- Page Loader -->        
    <div class="page-loader">
        <b class="spinner">Loading...</b>
    </div>
    <!-- End Page Loader -->
    
    <!-- Page Wrap -->
    <div class="page" id="top">
        <!-- Home Section -->
        <section class="home-section bg-dark-alfa-30 parallax-3" data-background="/assets/images/wallpaperflare.com_wallpaper.jpg" id="home"
        style="background-image: url(&quot;/assets/images/wallpaperflare.com_wallpaper.jpg&quot;);">
            <div class="js-height-full">
                <!-- Home Page Content -->
                <div class="home-content container">
                    <div class="home-text">
                        <div class="container animate-init" data-anim-type="fade-in-up-big" data-anim-delay="100">
                            
                            <!-- Headings -->
                            
                            <h1 class="hs-line-8 mb-30 mb-xs-10">
                              Professional Services <strong>End-to-End Security Support</strong>
                            </h1>
                            
                           
                                
                            <div class="hs-line-10 highlight">
                              Networks   <span>/</span>   Business   <span>/</span>   Products   <span>/</span>   Solutions 
                            </div>
                            
                            
                            <!-- End Headings -->
                            
                        </div>
                    </div>
                </div>
                <!-- End Home Page Content -->
                
                <!-- Scroll Down -->
                <div class="local-scroll">
                    <a href="#about" class="scroll-down static"><i class="fa fa-5x fa-angle-down"></i></a>
                </div>
                <!-- End Scroll Down -->
                
            </div>
        </section>
        <!-- End Home Section -->
        
        <!-- Navigation panel -->
     <app-navigation></app-navigation>	
        <!-- End Navigation panel -->
        
        
        <!-- About Us Section -->
        <section class="page-section bg-gray-lighter" id="about">
            <div class="container relative">
                
                <!-- Section Headings -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="section-title">
                            About Us<span class="st-point"></span>
                        </div>
                        <h2 class="section-heading">We&rsquo;re specializes in providing network security products and solutions supports</h2>
                        <div class="section-line mb-60 mb-xxs-30"></div>
                    </div>
                    
                </div>
                <!-- End Section Headings -->
                
                <!-- Nav Tabs -->
                <!-- <div class="align-center mb-50 mb-xxs-30">
                    <ul class="nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active">
                            <a href="#one" data-toggle="tab">About</a>
                        </li>
                    </ul>
                </div> -->
                <!-- End Nav Tabs -->
                
                <!-- Tab Content -->
                <div class="tab-content tpl-minimal-tabs-cont">
                    
                    <!-- About -->
                    <div class="tab-pane fade in active" id="one">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                                <div class="section-text">
                                  Guardsec specializes in providing comprehensive network security products and solutions, safeguarding numerous enterprise, government, and service provider networks against cyber threats. Our professional services encompass a wide range of offerings for Fortinet, Sophos, Checkpoint, AWS, Microsoft Azure, Palo Alto products such as Prisma Access, Firewalls, and Cortex. We offer complete deployment support, configuration assistance, and migration services to ensure robust security measures are in place. Our team of highly experienced Technical Assistance Center (TAC) engineers offers comprehensive support services to ensure seamless deployment, initial configuration, and smooth migration processes for your organization's network infrastructure.                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Skills -->
                    <div class="tab-pane fade" id="two">
                        
                        <div class="row pt-20">
                            <div class="col-sm-4 col-sm-offset-2">
                                
                                <!-- Bar Item -->
                                <div class="progress tpl-progress">
                                    <div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        Branding, % <span>90</span>
                                    </div>
                                </div>
                                <!-- End Bar Item -->
                                
                                <!-- Bar Item -->
                                <div class="progress tpl-progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        Design, % <span>80</span>
                                    </div>
                                </div>
                                <!-- End Bar Item -->
                                
                            </div>
                            
                            <div class="col-sm-4">
                                
                                <!-- Bar Item -->
                                <div class="progress tpl-progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        Development, % <span>75</span>
                                    </div>
                                </div>
                                <!-- End Bar Item -->
                                
                                <!-- Bar Item -->
                                <div class="progress tpl-progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        Production, % <span>85</span>
                                    </div>
                                </div>
                                <!-- End Bar Item -->
                                
                            </div>
                        </div>
                    </div>
                    <!-- End Skills -->
                    <!-- Process -->
                    <div class="tab-pane fade" id="three">
                        
                        <!-- Process Grid -->
                        <div class="benefits-grid">
                            
                            <!-- Process Item -->
                            <div class="benefit-item">
                                <div class="benefit-number">
                                    1
                                </div>
                                <div class="benefit-icon">
                                    <span class="icon-trophy"></span>
                                </div>
                                <h3 class="benefit-title">Ideas</h3>
                                <div class="benefits-descr">
                                    Donec pulvinar rutrum&nbsp;mi, sit amet viverra justo hendrerit eget.
                                </div>
                            </div>
                            <!-- End Process Item -->
                            
                            <!-- Process Item -->
                            <div class="benefit-item">
                                <div class="benefit-number">
                                    2
                                </div>
                                <div class="benefit-icon">
                                    <span class="icon-bubbles"></span>
                                </div>
                                <h3 class="benefit-title">Discussion</h3>
                                <div class="benefits-descr">
                                    Mauris tincidunt augue interdum phasellus luctus commodo.
                                </div>
                            </div>
                            <!-- End Process Item -->
                            
                            <!-- Process Item -->
                            <div class="benefit-item">
                                <div class="benefit-number">
                                    3
                                </div>
                                <div class="benefit-icon">
                                    <span class="icon-screen-desktop"></span>
                                </div>
                                <h3 class="benefit-title">Design</h3>
                                <div class="benefits-descr">
                                    Sed sed dictum nibh. Vivamus semper eros nec consequat. 
                                </div>
                            </div>
                            <!-- End Process Item -->
                            
                            <!-- Process Item -->
                            <div class="benefit-item">
                                <div class="benefit-number">
                                    4
                                </div>
                                <div class="benefit-icon">
                                    <span class="icon-rocket"></span>
                                </div>
                                <h3 class="benefit-title">Development</h3>
                                <div class="benefits-descr">
                                    Suspendisse congue mi feugiat felis pretium pretium dapibus eu lacus.
                                </div>
                            </div>
                            <!-- End Process Item -->
                            
                        </div>
                        <!-- End Process Grid -->
                        
                    </div>
                    <!-- End Process -->
                    
                </div>
                <!-- End Tab Content -->
                
  
                
            </div>
        </section>
        <!-- End About Us Section -->
        
        <!-- Some Facts Section -->
       
        
        <!-- Fullwidth Slider -->
        <div class="fullwidth-slider owl-carousel bg-dark">
            
            <!-- Slide Item -->
            
            <!-- End Slide Item -->
            
            
            <!-- End Slide Item -->
            
            <!-- Slide Item -->
            
            <!-- End Slide Item -->
            
        </div>
        <!-- End Fullwidth Slider -->
          <!-- Fullwidth Slider -->
          <div class="fullwidth-slider owl-carousel bg-dark">
            
              <!-- Slide Item -->
              
            
              <!-- End Slide Item -->
              
          </div>
        <!-- Alternative Services Section -->
        <section class="page-section bg-light-alfa" data-background="images/full-width-images/section-bg-6.jpg" id="services">
            <div class="container relative">
                
                <!-- Section Headings -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        
                        <div class="section-title">
                            Our Services<span class="st-point"></span>
                        </div>
                        
                        <h2 class="section-heading">We provide a complete list of best Security services</h2>
                        
                        <div class="section-line mb-60 mb-xxs-30"></div>   
                                                 
                    </div>
                </div>
                <!-- End Section Headings -->
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="pricing pricing-warning">
                  <div class="title"><a href="/shop">Deployment Support</a></div>
                  <ul class="options">
                      <li class="active"><span><i class="fa fa-check"></i></span>Our TAC engineers assist with the planning and execution of network infrastructure deployments, ensuring optimal performance and minimal disruption.
                      </li>
                      <li class="active"><span><i class="fa fa-check"></i></span>We provide guidance on hardware selection, placement, and connectivity to meet your organization's specific requirements.
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="pricing-info pricing">
                  <div class="title"><a href="/shop">Initial Configuration Support</a></div>
                  <ul class="options">
                      <li class="active"><span><i class="fa fa-check"></i></span>Leveraging their extensive expertise, our engineers assist in the initial configuration of network devices, including routers, switches, firewalls, and access points.
                      </li>
                      <li class="active"><span><i class="fa fa-check"></i></span>We ensure that configurations are aligned with industry best practices and tailored to your organization's unique needs.
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="pricing-success pricing">
                  <div class="title"><a href="/shop">Migration Support</a></div>
                  <ul class="options">
                      <li class="active"><span><i class="fa fa-check"></i></span>Our team offers expert guidance and hands-on assistance during network migration projects, whether upgrading existing infrastructure or transitioning to new technologies
                      </li>
                      <li class="active"><span><i class="fa fa-check"></i></span>We minimize downtime and mitigate risks associated with migration, ensuring a smooth transition to the new environment.
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
          
                <!-- End Service Grid -->
                
            </div>
        </section>
        <section class="split-section bg-scroll bg-dark-alfa-50" data-background="images/full-width-images/section-bg-1.jpg" id="services">
          <div class="clearfix relative">
              
              <!-- Section Headings -->
              <div class="split-section-headings animate-init"  data-anim-type="fade-in-up" data-anim-delay="100">
                  <div class="ssh-table">
                      <div class="ssh-cell pt-140 pt-sm-70 pt-xs-50 pb-140 pb-sm-70 pb-xs-50">
                          <div class="section-title white">
                              Key Benefits
                          </div>
                          <h2 class="section-heading white">We provide the best security solutions</h2>
                      </div>
                  </div>
              </div>
              <!-- End Section Headings -->
              
              <!-- Section Content -->
              <div class="split-section-content service-grid clearfix">
                  
                  <!-- Service Item -->
                  <div class="service-item js-active">
                      <div class="si-cell">
                          <div class="si-inner">
                              <div class="service-intro">
                                  <div class="service-icon">
                                      <span class="icon-ghost"></span>
                                  </div>
                                  <h3 class="service-title">Experience and Expertise</h3>
                              </div>
                              <div class="service-descr">
                                  Benefit from the knowledge and skills of seasoned TAC engineers with a proven track record of successful deployments and migrations across diverse environments                                <div class="service-button mt-40 mt-lg-20 local-scroll">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Service Item -->
                  
                  <!-- Service Item -->
                  <div class="service-item js-active">
                      <div class="si-cell">
                          <div class="si-inner">
                              <div class="service-intro">
                                  <div class="service-icon">
                                      <span class="icon-screen-desktop"></span>
                                  </div>
                                  <h3 class="service-title">Tailored Solutions</h3>
                              </div>
                              <div class="service-descr">
                                  Receive customized support tailored to your organization's specific requirements, ensuring that deployments and configurations align with your business objectives.                                <div class="service-button mt-40 mt-md-20 local-scroll">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Service Item -->
                  
                  <!-- Service Item -->
                  <div class="service-item js-active">
                      <div class="si-cell">
                          <div class="si-inner">
                              <div class="service-intro">
                                  <div class="service-icon">
                                      <span class="icon-puzzle"></span>
                                  </div>
                                  <h3 class="service-title">Reduced Downtime</h3>
                              </div>
                              <div class="service-descr">
                                  Minimize downtime and operational disruptions with proactive support and efficient troubleshooting from our team of experts                                <div class="service-button mt-40 mt-md-20 local-scroll">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Service Item -->
                  
                  <!-- Service Item -->
                  <!-- <div class="service-item js-active">
                      <div class="si-cell">
                          <div class="si-inner">
                              <div class="service-intro">
                                  <div class="service-icon">
                                      <span class="icon-paper-plane"></span>
                                  </div>
                                  <h3 class="service-title">Peace of Mind</h3>
                              </div>
                              <div class="service-descr">
                                  Gain confidence knowing that your network infrastructure is in capable hands, allowing you to focus on your core business activities without worrying about technical challenges                                <div class="service-button mt-40 mt-md-20 local-scroll">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->
                 
                  <!-- End Service Item -->
                  
              </div>
              <!-- End Section Content -->
              
          </div>
      </section>
        <!-- End Alternative Services Section -->
        
        <!-- Features Section -->
        <section class="page-section bg-scroll bg-dark-alfa-50" data-background="images/full-width-images/section-bg-5.jpg">
            <div class="container relative">
                
                <!-- Features Grid -->
                <div class="item-carousel owl-carousel animate-init" data-anim-type="bounce-in-right-large" data-anim-delay="200">
                    
                    <!-- Features Item -->
                    <div class="features-item">
                        
                        <div class="logo-item">
                            <img src="/assets/images/sase.png" width="100" height="60" alt="" />
                        </div>
                        <div class="features-title">
                          Palo Alto SASE
                                            </div>
                        <div class="features-descr">
                          Our team provides expert support for Palo Alto's Secure Access Service Edge (SASE) solution, offering comprehensive security and networking capabilities for modern cloud-centric architectures.
                        </div>
                    </div>
                    <!-- End Features Item -->
                    
                    <!-- Features Item -->
                    <div class="features-item">
                        <div class="logo-item">
                            <img src="/assets/images/prisma.png" width="80" height="40" alt="" />
                        </div>
                        <div class="features-icon">
                            
                        </div>
                        <div class="features-title">
                          Prisma Access
                        </div>
                        <div class="features-descr">
                          Benefit from our proficiency in deploying and optimizing Prisma Access, Palo Alto's cloud-delivered security service, ensuring secure access to applications and data from anywhere.                      </div>
                    </div>
                    <!-- End Features Item -->
                    
                    <!-- Features Item -->
                    <div class="features-item">
                        <div class="logo-item">
                            <img src="/assets/images/strata.png" width="100" height="60" alt="" />
                        </div>
                        <div class="features-title">
                          Next-Gen Firewalls Strata           
                                 </div>
                        <div class="features-descr">
                          We offer deployment assistance and ongoing support for Next-Generation Firewalls (NGFW) Strata, empowering your organization with advanced threat prevention and network visibility capabilities.                      </div>
                    </div>
                    <!-- End Features Item -->
                    
                    <!-- Features Item -->
                    <!-- <div class="features-item">
                        <div class="logo-item">
                            <img src="/assets/images/ipsec.png" width="100" height="60" alt="" />
                        </div>
                        <div class="features-title">
                          IPSec Tunnels Between Different Vendors
                                            </div>
                        <div class="features-descr">
                          Our team specializes in configuring and managing IPSec tunnels between various vendor devices, facilitating secure communication and data exchange across heterogeneous network environments                      </div>
                    </div> -->
                    <!-- End Features Item -->
                    
                    <!-- Features Item -->
                    <div class="features-item">
                        <div class="logo-item">
                            <img src="/assets/images/GP.png" width="100" height="60" alt="" />
                        </div>
                        <div class="features-title">
                          GlobalProtect VPN                      </div>
                        <div class="features-descr">
                          Leverage our expertise in implementing and maintaining Palo Alto's GlobalProtect VPN solution, enabling secure remote access for your organization's workforce, regardless of their location.                      </div>
                    </div>
                    <!-- End Features Item -->
                    
                    <!-- Features Item -->
                    <div class="features-item">
                        <div class="logo-item">
                            <img src="/assets/images/ztna.png" width="100" height="60" alt="" />
                        </div>
                        <div class="features-title">
                          ZTNA Solutions                      </div>
                        <div class="features-descr">
                          Count on us for comprehensive support for Zero Trust Network Access (ZTNA) solutions, ensuring secure access to applications and resources based on identity and context, regardless of network location                      </div>
                    </div>
                    <!-- End Features Item -->
                    
                    <!-- Features Item -->
                    <div class="features-item">
                        <<div class="logo-item">
                            <img src="/assets/images/zscaler.png" width="90" height="60" alt="" />
                        </div>
                        <div class="features-title">
                          Zscaler Products:                      </div>
                        <div class="features-descr">
                          Our team offers expertise in deploying, configuring, and optimizing Zscaler's cloud-native security solutions, including Zscaler Internet Access (ZIA) for secure internet and web access, and Zscaler Private Access (ZPA) for secure remote access to internal applications.                      </div>
                    </div>
                    <!-- End Features Item -->
                    
                   
                    <!-- End Features Item -->
               
                    <!-- End Features Item -->
                    
                </div>
                <!-- Features Grid -->
            </div>
        </section>
        <!-- Features Section -->
        
        
      
        
        <!-- Call Action Section -->
        <section class="small-section bg-dark">
            <div class="container relative pricing-area">
                
                <div class="row">
                    
                    <div class="col-md-8 col-lg-6 col-lg-offset-2 banner-text">
                        
                        <!-- Text -->
                        <h3 class="banner-heading">Like Our Works?</h3>
                        
                        <div class="banner-decription">
                            We are always open to interesting projects.
                        </div>
                        
                    </div>
                  
                    
                </div>
                
            </div>
        </section>
        <!-- End Call Action Section -->
        
        
        <!-- Testimonial Section -->
        <section class="small-section bg-gray">
            <div class="container relative">                    
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <!-- Section Icon -->
                        <div class="section-icon color">
                            <span class="icon-bubbles"></span>
                        </div>
                        
                        <!-- Section Title -->
                        <h3 class="small-title"><span class="serif">Why Choose</span> us:</h3>
                        
                        <div class="section-line mt-20 mb-30"></div>
                        
                        <!-- Slider -->
                        <div class="single-carousel black owl-carousel">
                            
                            <!-- Slider Item -->
                            <div>
                                  <!-- Author -->
                                  <div class="testimonial-author service-title">
                                      Expertise and Experience
                                                                  </div>
                                <blockquote class="testimonial">
                                  Our team comprises seasoned professionals with extensive experience in deploying, managing, and optimizing Palo Alto networks, ZTNA solutions, Zscaler products, and associated security solutions                              </blockquote>
                                
                            
                            </div>
                            
                        </div>
                        <!-- Ent Slider -->
                        
                    </div>
                </div>                    
                
            </div>
        </section>
        <!-- End Testimonial Section -->
        
        
        <!-- Logotypes Section -->
        <section class="small-section bg-gray-lighter pt-10 pb-10">
            <div class="container relative">
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <div class="small-item-carousel black owl-carousel mb-0 animate-init" data-anim-type="fade-in-right-large" data-anim-delay="80">
                            
                            <!-- Logo Item -->
                            <div class="logo-item">
                                <img src="/assets/images/aws.png" width="100" height="60" alt="" />
                            </div>
                            <!-- End Logo Item -->
                            
                            <!-- Logo Item -->
                            <div class="logo-item">
                                <img src="/assets/images/network_brand-2.png" width="100" height="60" alt="" />
                            </div>
                            <!-- End Logo Item -->
                            
                            <!-- Logo Item -->
                            <div class="logo-item">
                                <img src="/assets/images/zscaler.png" width="100" height="60" alt="" />
                            </div>
                            <!-- End Logo Item -->
                            
                            <!-- Logo Item -->
                            <div class="logo-item">
                                <img src="/assets/images/fortinet.png" width="100" height="60" alt="" />
                            </div>
                            <!-- End Logo Item -->
                            
                            <!-- Logo Item -->
                            <div class="logo-item">
                                <img src="/assets/images/network_brand-1.png" width="100" height="60" alt="" />
                            </div>
                            <!-- End Logo Item -->
                            
                            <!-- Logo Item -->
                            <-- <div class="logo-item">
                                <img src="/assets/images/azure.png" width="100" height="60" alt="" />
                            </div> -->
                            <!-- End Logo Item -->
                            
                            <!-- Logo Item -->
                            <!-- <div class="logo-item">
                                <img src="/assets/images/network_brand-1.png" width="100" height="60" alt="" />
                            </div> -->
                            <!-- End Logo Item -->
                            
                            <!-- Logo Item -->
                            <!-- <div class="logo-item">
                                <img src="/assets/images/network_brand-2.png" width="100" height="60" alt="" />
                            </div> -->
                            <!-- End Logo Item -->
                            
                        </div>
                            
                     </div>
                 </div>
                
             </div>
        </section>
        <!-- End Logotypes -->
        
        
  
        
        
      <!-- Newsletter Section -->
  <section class="small-section bg-light-alfa" data-background="images/full-width-images/section-bg-7.jpg">
    <div class="container relative">
        
        <form action="#" method="post" class="form" (ngSubmit)="subscribeClick($event)">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-lg-offset-2 banner-text">
                    
                    <!-- Text -->
                    <div class="newsletter-label">
                        Get our newsletter
                    </div>
                    
                    <input [(ngModel)]="subscribeMail" name="email" placeholder="Enter Your Email" class="newsletter-field form-control" type="email" pattern=".{5,100}" required/>
                
                </div>
                
                <div class="col-md-6 col-lg-4 banner-button pt-10 pt-xs-0">
                    
                    <!-- Button -->
                    <button type="submit" class="btn btn-mod btn-large">
                        Subscribe
                    </button>
                    
                </div>
            </div>
        </form>
        
    </div>
</section>
        <!-- End Newsletter Section -->
         <!-- Contact Section -->
         <section class="page-section bg-scroll bg-dark-alfa-90" data-background="images/full-width-images/section-bg-8.jpg" id="contact">
            <div class="container relative">
                
                <div class="row">
                    
                    <!-- Contact Info -->
                    <div class="col-md-4">
                        
                        <!-- Phone -->
                        <!-- <div class="contact-item mb-40 mb-md-20">
                                                        <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            
                            <div class="ci-title">Call Us</div>
                            
                            
                            
                        </div> -->
                        <!-- End Phone -->
                        
                        <!-- y -->
                        <div class="contact-item mb-40 mb-md-20">
                            
                            <!-- Icon -->
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            
                            <div class="ci-title">Address</div>
                            
                            <div class="ci-text">Second Floor, Building 2, Kanakapura Road Near Vajarahalli Metro Station, Bangalore-560062</div>
                            
                        </div>
                        <!-- End Address -->
                        
                        <!-- Email -->
                        <div class="contact-item mb-md-40">
                            
                            <!-- Icon -->
                            <div class="ci-icon">
                                <a href="mailto:bigstream@lookandfeel.pro">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                            
                            <div class="ci-title">Say Hello</div>
                            
                            <div class="ci-text"><a href="mailto:bigstream@lookandfeel.pro">contact@guardsec.co</a></div>
                            
                        </div>
                        <!-- End Email -->
                        
                    </div>
                    <!-- End Contact Info -->
                    <alert></alert>

                    
                    <div class="col-md-7 col-md-offset-1">
                        
                        <!-- Contact Form -->                            
                        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)" class="form contact-form" id="contact_form" autocomplete="off">
                            <div class="clearfix mb-20 mb-xs-0">
                                
                                <div class="cf-left-col">
                                    
                                    <!-- Name -->
                                    <div class="form-group">
                                        <input type="text" formControlName="fullname" name="fullname" id="name" class="ci-field form-control" placeholder="Name" pattern=".{3,100}" required>
                                    </div>
                                    
                                    <!-- Email -->
                                    <div class="form-group">
                                        <input type="email" formControlName="email"  name="email" id="email" class="ci-field form-control" placeholder="Email" pattern=".{5,100}" required>
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                                
                                <div class="cf-right-col">
                                    
                                    <!-- Message -->
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="message" formControlName="message"  id="message" class="ci-area form-control"></textarea>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <!-- Send Button -->
                            <button [disabled]="!FormData.valid" type="submit" class="submit_btn btn btn-mod btn-large btn-full ci-btn" id="submit_bt">
                                Send
                            </button>
                            
                            <div id="result"></div>
                            
                        </form>                            
                        <!-- End Contact Form -->
                        
                    </div>
                    
                </div>
                
            </div>
        </section>
      <app-footer-page></app-footer-page>
        <!-- End Contact Section -->
        
       
        <!-- End Foter -->
        
    
    </div>
    <!-- End Page Wrap -->
    
    
    
    <!-- Works Expander -->
    <div class="work-full">
        <div class="work-navigation clearfix">
            <a class="work-prev"><span><i class="fa fa-chevron-left"></i>&nbsp;Previous</span></a>
            <a class="work-all"><span><i class="fa fa-times"></i>&nbsp;All works</span></a>
            <a class="work-next"><span>Next&nbsp;<i class="fa fa-chevron-right"></i></span></a>
        </div>
        <div class="work-full-load">
        </div>
        <div class="work-loader">
        </div>
    </div>
    <div class="body-masked">
    </div>
    <!-- End Works Expander -->
    
    
    <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
    
  </body>
  <router-outlet></router-outlet>